# === Node ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Build output ===
dist/
build/

# === Env ===
.env
.env.local
.env.development
.env.production
.env.test

# === Logs ===
logs/
*.log
*.log.*
debug.log

# === Mac / System ===
.DS_Store
Thumbs.db

# === IDE ===
.vscode/
.idea/
*.swp

# === Temporary ===
*.cache
.cache/
